<h1>招待中一覧</h1>

<table class="list_table table-bordered table-hover">
  <tr>
    <th style="width:35%">メールアドレス</th>
    <th style="width:30%">招待時刻</th>
    <th style="width:25%">&nbsp;</th>
    <th style="width:10%">取り消し</th>
  </tr>
  <% invites.each do |invite| %>
  <tr>
    <td><%= invite.email %></td>
    <td><%= _timetoyyyymmddhhmm(invite.created_at) %></td>
    <td>&nbsp;</td>
    <td><%= back_to_link '削除', {:controller => '/invite', :action => :destroy, :id => invite, :authenticity_token => form_authenticity_token }, :method => :delete, data: {:confirm => '削除します。よろしいですか?'} %></td>
  </tr>
  <% end %>
</table>
