
<%= form_tag :action => 'update', :id => @contract do %>
  <%= render :partial => 'form' %>
  <div class="submit_box">
    <%= submit_tag '更新', :class => "btn btn-primary btn-medium" %>
    <%= link_or_back '戻る', {:controller => 'approach', :action => 'show', :id => @contract.approach_id}, :class => "btn btn-default btn-medium"  %>
  </div>
<% end %>

