<%= link_to_function '埋め込みコマンド一覧ーの表示', '$("#insert_cursor").toggle()' %>
<br/>
<div id="insert_cursor" style="display:none">
送信先:
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%%bp_pic_name%%");'>担当者名</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%%business_partner_name%%");'>取引先会社名</a><br/>
<label>案件情報:</label>
　照会:
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%biz_offers.biz_offer_status_type%");'>照会ステータス区分</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%biz_offers.biz_offered_at%");'>照会日時</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%biz_offers.due_date%");'>提案期限</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%biz_offers.winning_rate%");'>案件確度</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%biz_offers.sales_route%");'>案件商流</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%biz_offers.payment_max%");'>単価MAX</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%biz_offers.payment_text%");'>単価TEXT</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%biz_offers.time_adjust_text%");'>精算条件TEXT</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%biz_offers.interview_times%");'>面談回数</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%biz_offers.interview_times_memo%");'>面談回数メモ</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%biz_offers.sales_route_limit%");'>商流制限</a><br>
　案件:
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%businesses.issue_datetime%");'>発生日時</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%businesses.due_date%");'>提案期限</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%businesses.term_type%");'>契約形態区分</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%businesses.business_title%");'>案件名</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%businesses.business_point%");'>案件ポイント</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%businesses.business_description%");'>案件内容</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%businesses.place%");'>勤務場所</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%businesses.period%");'>期間</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%businesses.phase%");'>フェーズ</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%businesses.need_count%");'>募集人数</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%businesses.skill_title%");'>職務</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%businesses.skill_must%");'>スキル必須</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%businesses.skill_want%");'>スキル尚可</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%businesses.skill_tag%");'>スキルタグ</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%businesses.business_hours%");'>業務時間</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%businesses.assumed_hour%");'>見込稼働時間</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%businesses.career_years%");'>必要経験年数</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%businesses.age_limit%");'>年齢制限</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%businesses.nationality_limit%");'>国籍制限</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%businesses.sex_limit%");'>性別制限</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%businesses.communication%");'>コミュニケーション能力</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%businesses.link%");'>リンク</a>
<br/>
<label>人材情報:</label>
　所属:
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%bp_members.employment_type%");'>雇用形態区分</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%bp_members.can_start_date%");'>稼働開始可能日</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%bp_members.can_start_date_memo%");'>稼働開始可能日メモ</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%bp_members.can_interview_date%");'>面談可能日</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%bp_members.race_condition%");'>並行営業状況</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%bp_members.payment_memo%");'>単価メモ</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%bp_members.payment_min%");'>単価下限</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%bp_members.memo%");'>メモ</a><br/>
　人材:
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%human_resources.human_resource_name%");'>人材氏名</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%human_resources.human_resource_short_name%");'>人材名略称</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%human_resources.human_resource_name_kana%");'>人材氏名カナ</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%human_resources.initial%");'>イニシャル</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%human_resources.email%");'>メールアドレス</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%human_resources.tel1%");'>電話番号1</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%human_resources.tel2%");'>電話番号2</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%human_resources.age%");'>年齢</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%human_resources.birthday_date%");'>生年月日</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%human_resources.sex_type%");'>性別</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%human_resources.nationality%");'>国籍</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%human_resources.railroad%");'>沿線</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%human_resources.near_station%");'>最寄駅</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%human_resources.max_move_time%");'>通勤時間上限</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%human_resources.experience%");'>業界経験年数</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%human_resources.skill_title%");'>職務</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%human_resources.business_skill%");'>業務知識</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%human_resources.skill%");'>スキル</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%human_resources.skill_tag%");'>スキルタグ</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%human_resources.qualification%");'>資格</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%human_resources.communication_type%");'>コミュニケーション能力</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%human_resources.attendance%");'>勤怠状況</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%human_resources.human_resource_status_type%");'>人材ステータス区分</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%human_resources.link%");'>リンク</a>
<a class='label label-inverse' href='javascript:insertAtCursor(xtarget, "%human_resources.memo%");'>メモ</a>
<br/>
</div>
