<h1><%= getLongName('table_name','delivery_mails')%> の編集</h1>

<%= render 'form' %>

<% if !@attachment_files.blank? %>
  <h2>添付ファイル一覧</h2>
  <%= render :partial => 'attachment_file/list' %>
<% end %>

<%= link_or_back '戻る', delivery_mails_path %>
