<% if @target_data[:emptyFlag] %>
  <script type=text/javascript>
    alert('次の表示データがありません。\n入力支援機能を終了します。');
    window.close()
  </script>
<% else %>
  <div class="container-fluid">
    <% if @target_data[:targetName] == :business_partner%>
      <%= render partial: 'business_partner/quick_input_form' %>
    <% elsif @target_data[:targetName] == :outflow_mail %>
      <%= render partial: 'outflow_mail/quick_input_form' %>
    <% end%>
  </div>

  <script type="text/javascript">
    function heightResize() {
      // 現在の画面の高さと、フォームの高さを取得
      var mainBoxHeight  = window.innerHeight;
      var formHeight = document.getElementById('input_form').offsetHeight;

      // 画面内に収まるようiframeの高さを調節。-20はパディング。
      window.parent.document.getElementById('iframe_bp').style.height = (mainBoxHeight - formHeight - 20) + 'px';
    }
    window.onload = heightResize();

    // resizeイベントが完了したときにiframeの高さをリサイズする。
    function dynamicResize() {
      var timer = false;
      $(window).resize(function() {
        if (timer !== false) {
          clearTimeout(timer);
        }
        timer = setTimeout(function() {
          heightResize();
        }, 200);
      })
    }
    window.onresize = dynamicResize();

    function getNextBP(id, page, url) {
      // 新しい取引先を取得して再描画
      location.href = 'next_bp?popup=1&page=' + page + '&business_partner_id=' + id
    }

    function finishConfirm() {
      if(window.confirm('入力支援機能を終了します。\nよろしいですか？')) {
        window.close()
      }
    }
  </script>
<% end %>