
<%= form_tag :action => 'update', :id => @biz_offer, :business_id => @business do %>
  <%= render :partial => 'form' %>
  <div class="submit_box">
    <%= submit_tag '更新', :class => "btn btn-primary btn-medium" %>
    <%= link_or_back '戻る', :action => 'list' %>
  </div>
<% end %>

