<%= error_messages_for 'analysis_template_item' %>

<table class="list_table">
  <tr>
    <th>対象項目名</th>
    <th>登録名</th>
    <th>パターン</th>
    <th></th>
  </tr>
  
  <tr>
    <th colspan=4>人材</th>
  </tr>
  
  <%= render :partial => 'analysis_template_item/form_line', :locals => {:column_names => @human_resource_column_names, :item_value_map => @item_value_map, :table_name => 'human_resources'} %>
  
  <tr>
    <th colspan=7>所属</th>
  </tr>
  
  <%= render :partial => 'analysis_template_item/form_line', :locals => {:column_names => @bp_member_column_names, :item_value_map => @item_value_map, :table_name => 'bp_members'} %>

</table>

