<%= error_messages_for 'analysis_template_item' %>

<table class="list_table">
  <tr>
    <th>対象項目名</th>
    <th>登録名</th>
    <th>パターン</th>
    <th></th>
  </tr>
  
  <tr>
    <th colspan=4>案件</th>
  </tr>
  
  <%= render :partial => 'analysis_template_item/form_line', :locals => {:column_names => @business_column_names, :item_value_map => @item_value_map, :table_name => 'businesses'} %>
  
  <tr>
    <th colspan=4>照会</th>
  </tr>
  
  <%= render :partial => 'analysis_template_item/form_line', :locals => {:column_names => @biz_offer_column_names, :item_value_map => @item_value_map, :table_name => 'biz_offers'} %>

</table>

