
<%= form_tag :action => 'update', :id => @analysis_template_item do %>
  <%= render :partial => 'form' %>
  <div class="submit_box">
    <%= submit_tag '更新', btn_primary %>
    <%= link_or_back '戻る', :controller => 'analysis_template', :action => 'show', :id => @analysis_template_item.analysis_template_id %>
  </div>
<% end %>

