
<%= form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <div class="submit_box">
    <%= submit_tag "登録", btn_primary %>
    <%= link_or_back '戻る', :controller => 'analysis_template', :action => 'show', :id => params[:analysis_template] %>
</div>
<% end %>

