<table class="show_table">
<tr><th>対象グループ</th><td><%= @bp_pic_group.bp_pic_group_name%></td></tr>
<% unless @bp_pic_group.mail_template_id.blank? %>
<tr><th>メールテンプレート名</th><td><%= get_mail_template_name.mail_template_name%></td></tr>
<% end %>
<% unless @bp_pic_group.memo.blank? %>
<tr><td colspan="2"><%= simple_format @bp_pic_group.memo%></td></tr>
<% end %>
</table>
