<% if !( flash[:notice] || flash[:err] || flash[:warning] ) %>
  <div>処理が完了しました</div>
<% end %>

<div>「閉じる」をクリックすると元画面が再読込されます</div>

<div style="text-align:center">
  <input type="button" value="閉じる" onclick="window.opener.location.reload();window.close();return;" style="margin-top:2em;margin-bottom:2em;width:8em;">
</div>