/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.login_left {
  float: left;
  width: 28%;
  text-align: right;
  margin-right: 2%;
  vertical-align: middle;
  height: 30px;
  margin-top: 10px;
}
.login_right {
  float: right;
  width: 70%;
  margin-top: 3px;
}
.login_right input {
  width: 62%;
}
.login_right input[type="checkbox"] {
  width: auto;
  margin-top: 9px;
}
}
.login_area img {
  margin-top: 5%;
}

div.overflow_hidden {
  overflow: hidden;
  height:1.5em;
  word-wrap: break-word;
  word-break: break-all;
}

td.flag_container {
  margin-top:0px;
  margin-bottom:0px;
  margin-right:auto;
  margin-left:auto;
  padding: 0px;
  white-space: nowrap;
}

div.registered {
  color : black;
  font-weight : bold;
}

div.flagged_up {
  color : tomato;
  font-weight : bold;
}

div.flag {
  margin:0px;
  padding:0px;
  height:100%;
  display:inline-block;
}


