/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
 * login
 */
.login_left {
  float: left;
  width: 28%;
  text-align: right;
  margin-right: 2%;
  vertical-align: middle;
  height: 30px;
  margin-top: 10px;
}
.login_right {
  float: right;
  width: 70%;
  margin-top: 3px;
}
.login_right input {
  width: 62%;
}
.login_right input[type="checkbox"] {
  width: auto;
  margin-top: 9px;
}
.login_area img {
  margin-top: 5%;
}

.login_area .enter_links {
  margin-top: 1.0em;
  text-align: center;
  font-size: 115%;
  overflow: hidden;
}

.login_area .enter_links p {
  line-height: 1.2em;
}

.login_area .enter_links a.getting_started {
  margin-left: 8.9em;
}

.login_area .enter_links a.getting_started:after {
  content: '（今すぐ始める！）';
  position: relative;
  opacity: 0;
  left: -10px;
  transition: all 0.3s;
}

.login_area .enter_links a.getting_started:focus:after,
.login_area .enter_links a.getting_started:hover:after {
  opacity: 1;
  left: 0px;
}

/*
 * help
 */
.help_area {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}

.help_area h1,
.help_area h2,
.help_area h3,
.help_area h4,
.help_area h5,
.help_area h6 {
  width: 100%;
}

.explanation {
  margin: 10px 15px;
}
.explanation .section {
  margin-bottom: 30px;
}
.explanation .image-line {
  margin: 5px 15px 15px 15px;
  max-width: 800px;
}
.explanation .icon-next-step {
  text-align: center;
  max-width: 800px;
}

/*
 * contents
 */
div.overflow_hidden {
  overflow: hidden;
  height:1.5em;
  word-wrap: break-word;
  word-break: break-all;
}

td.flag_container {
  margin-top:0px;
  margin-bottom:0px;
  margin-right:auto;
  margin-left:auto;
  padding: 0px;
  white-space: nowrap;
}

div.registered {
  color : black;
  font-weight : bold;
}

div.flagged_up {
  color : tomato;
  font-weight : bold;
}

div.flag {
  margin:0px;
  padding:0px;
  height:100%;
  display:inline-block;
}

.remark_header {
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  color: #31708F;
  padding: 5px 0px 0px 5px;
  margin-bottom: 5px;
  border: 1px solid transparent;
  border-radius: 2px;
}

.stars-inactive {
  color: silver;
}
.stars-active {
  color: gold;
}

.tag {
  color: #191919;
  cursor: default;
}

.detail_row {
    background-color: lavender;
}

.form_table td label {
  font-size: inherit;
  margin-right: 5px;
}

/*
 * footer
 */
.modal-footer {
  padding-bottom: 0;
}

.footer_centered {
  text-align: center;
}

.footer_centered ul {
  list-style-type: none;
  padding-left: 0;
}

.footer_centered ul li {
  display: inline-block;
  margin-left: .2em;
  margin-right: .2em;
  font-size: 95%;
}

