
<%= form_tag :action => 'update', :id => @bp_pic do %>
  <%= render :partial => 'form' %>
  <div class="submit_box">
    <%= submit_tag '更新', btn_primary %>
    <%= link_or_back '戻る', :action => 'list' %>
  </div>
<% end %>

