
<%= form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <div class="submit_box">
    <%= submit_tag "登録", btn_primary %>
    <%= link_or_back '戻る', :action => 'list' %>
  </div>
<% end %>

