<div class="container-fluid">
  <div class="row-fluid">
    <div id='title' class="span12">
      <h2>
        <%= @current_business_partner.business_partner_name %>
      </h2>
    </div>
      <button class="btn btn-success" type="button" onclick='getNextBP(<%= @current_business_partner.id %>, <%= params[:page] %>)'>次の企業へ</button>
  </div>
  <div class="row-fluid">
    <div class="span2">
      <br/>
      <form>
        <fieldset>
           <legend>企業情報入力</legend>
           <label>設立年</label>
           <input type="text" />
           <label>従業員数</label>
           <input type="text" />
           <label>資本金</label>
           <input type="text" />
           <label>メールアドレス</label>
           <input type="text" />
           <button type="submit" class="btn">Submit</button>
        </fieldset>
      </form>
    </div>
    <div class="span10">
      <% if @current_business_partner.url.blank? %>
        <!-- <script type="text/javascript">alert('取引先URLが入力されていません。')</script> -->
      <% end %>
      <iframe id='iframe_bp' src="<%= @current_business_partner.url %>" width=100% %>このブラウザは対応していません。</iframe>
    </div>
  </div>
</div>

<script type="text/javascript">
  function heightResize() {
    // var iframeHeight = document.body.scrollHeight;
    var mainBoxHeight = document.getElementById('contents_box').offsetHeight;
    var titleHeight = document.getElementById('title').offsetHeight;

    // 画面内に収まるようiframeの高さを調節
    window.parent.document.getElementById('iframe_bp').style.height = (mainBoxHeight - titleHeight) + 'px';
  }
  window.onload = heightResize;

  function getNextBP(id, page) {
    // 新しい取引先を取得して再描画
    location.href = 'next_bp?current_bp_id=' + id + '&page=' + page
    // location.reload(true);
  }
</script>